.menuPc {
    display: flex;

}

.menuMobile {
    display: none;

}

/*" @media screen ()" adaptação de tela pc - mobile*/

/* @media print{
    main{
        color : red;
    }
        }*/
        
@media screen and (max-width : 840px) {
    
    .menuPc {
        display: none;
    
    }

    .menuMobile {
        display: flex;
    
    }

}

